[Unit]
Description=ROS 2 Humble Desktop Plus For WaLi Service
After=syslog.target network.target


[Service]
Type=simple
user=pi
WorkingDirectory=/home/pi/wali_pi5/c3ws
# Stop r2hdp container (if running)
ExecStartPre=-/usr/bin/docker stop r2hdp
# Remove the r2hdp container (if exists)
ExecStartPre=-/usr/bin/docker rm r2hdp
# Wait to allow life logging to start up at boot time
ExecStartPre=/bin/sleep 60
# Start r2hdp detached (which runs start_wali.sh)
ExecStart=/bin/bash /home/pi/wali_pi5/configs/docker/start_docker_detached_r2hdp.sh

[Install]
WantedBy=multi-user.target
